.container {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
}
.sidebar {
background-color: blue;
width: 30px;
height: 30px;
}
.header {
 background-color: rgb(220, 245, 223);
 width: 30px;
height: 30px;

}
.projects {
background-color: brown;
width: 30px;
height: 30px;
}
.anouncements {
background-color: yellow;
width: 30px;
height: 30px;
}
.trending {
background-color: cadetblue;
width: 30px;
height: 30px;
}